.cards-event {
  position: absolute;
  width: 86%;
  left: 216px;
  align-self: flex-end;
  background: #f9f9f9;
}

.card-event {
  width: 680px;
  max-height: 700;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.page-top {
  margin: auto;
  width: 680px;
  margin-top: 50px;
}
.card-content-event {
  position: relative;
  height: 300px;
  background: white;
}
.first-paragraph {
  word-wrap: break-word;
  left: 30px;
  right: 20px;
  padding: 0px;
  margin: 10px;
}
.first-paragraph h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  height: 60px;
  overflow: hidden;
}
.second-paragraph {
  position: absolute;
  word-wrap: break-word;
  width: 550px;
  padding: 0px;
  margin: 10px;
}

.show-person-parent {
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  margin: auto;
}

.label-event {
  display: inline-block;
  top: 53px;
}
.label-event h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  color: #8e9296;
}

.label-event h2 {
  margin: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
}
.div-event-button-edit h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
  width: 350px;
}

.event-bar p {
  display: inline-flex;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 20px;
}
.time-event {
  position: relative;
  display: inline-flex;
  left: 20px;
  margin: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.location-event {
  position: relative;
  display: inline-flex;
  left: 40px;
  margin: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.div-event-button-edit {
  margin-top: 30px;
  display: flex;
  width: 680px;
}

.event-button-edit {
  width: 300px;
  height: 40px;
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
  border: none;
  margin-top: 5px;
  float: right;
  margin-right: 0px;
  margin-left: 400px;
}
.event-button-edit:focus {
  border-radius: 8px;
  outline: 0;
}

.cards-features {
  margin: auto;
  width: 680px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.cards-features h3 {
  display: inline-flex;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}
.event-button-compare {
  width: 190px;
  height: 40px;
  right: 8px;
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
  border: none;
  float: right;
}
.event-button-compare:focus {
  border-radius: 8px;
  outline: 0;
  border: solid 2px #44dabd;
}
.event-button-compare:hover {
  border-radius: 8px;
  outline: 0;
  border: solid 2px #44dabd;
}

.paragraph-metrics {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.athletes-bottom-page {
  width: 700px;
  margin: auto;
  right: 180px;
  top: 860px;
  max-height: 700;
  border-radius: 20px;
}
.paragraph-select-athlete {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}

.metric {
  width: 150px;
  height: 43px;
  border-radius: 8px;
  background: white;
  display: inline-flex;
  margin: 10px;
}
.select-metric {
  margin-top: 13px;
  margin-left: 12px;
}
