.selected-club-main {
  background: #f9f9f9;
  position: absolute;
  height: 100%;
  left: 216px;
  width: 85%;
  overflow-y: auto;
}

.icon-header {
  display: block;
  block-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.header-name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;

  color: #000000;
}
.card-width {
  min-width: 295px;
}

.header-selected-club {
  display: flex;
  margin-left: 16px;
  margin-top: 30px;
}

.header-details {
  margin-left: 16px;
  color: #8e9296;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.header-details-name {
  width: 250px;
  height: 24px;
  margin-left: 16px;
  /* inter/paragraph */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;
}

.person-club-card {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 3px;
}

.grid-sports {
  display: grid;
  grid-template-columns: 145px 145px;
}

.persons-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 745px) {
  .persons-grid {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 1100px) {
  .persons-grid {
    grid-template-columns: auto;
  }
}

.card-first-line-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8e9296;
}
.card-second-line-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.button-club {
  text-align: center;
  border-radius: 8px;
  border: solid 1px;
  margin: 16px 5px;
  padding: 16px 32px;
  height: 46px;
  font-weight: 500;
  color: black;
  background-color: white;
}
.button-club:hover {
  background-color: black;
  color: white;
}
.button-club:focus {
  background-color: black;
  color: white;
  outline: none;
}

.selector-buttons {
  margin-left: 11px;
}

.pagination-numbers {
  margin-left: 16px;
  text-align: center;
  margin-top: 30px;
}

.meta-custom {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 2px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8e9296;

  align-items: center;

  text-transform: uppercase;

  color: #000000;
}
