.modal-athletes {
  position: absolute;
  background: #ffffff;
  height: 1000px;
}
.modal-athletes-div {
  position: absolute;
  width: 560px;
  height: 1000px;
}
.first-line-athletes {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.modal-athletes-div h2 {
  margin-left: 30px !important;
  margin-top: 40px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}
.first-line-athletes hr {
  border: 1px solid #cad2e2;
  background: #cad2e2;
}
.modal-athletes-div p {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0px;
}
.modal-form-inputs-athletes {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.modal-form-inputs-athletes p {
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.modal-form-inputs-athletes h3 {
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}
.drag-and-drop-athlets {
  position: relative;
  flex: 1;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  background-color: #f5efef;
  color: #f1e8e8;
  outline: none;
  border: dashed 1px grey;
}
.dropzone-athletes {
  position: relative;
  left: 75px;
  top: 18px;
  height: 30px;
}
.upload-file-athletes {
  display: inline-flex;
  top: 57px;
  cursor: pointer;
}
.upload-file-athletes p {
  display: flex;
  color: black;
  border-bottom: double 2px;
  font-family: Inter;
  font-style: normal;
  font-size: 14px !important;
  margin: 0px;
  height: 25px;
}

.drag-drop-athletes {
  margin-left: 85px !important;
  margin-top: 18px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px !important;
  color: #8e9296;
}
.modal-buttons-athletes {
  margin-top: 30px;
  float: right;
}
.second-line-athletes {
  margin-top: 60px;
}
.second-line-athletes hr {
  border: 1px solid #cad2e2;
  background: #cad2e2;
}
.cancel-button-athletes {
  width: 100px;
  height: 46px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.cancel-button-athletes:hover {
  border-radius: 8px;
}
.cancel-button-athletes:focus {
  outline: 0;
  border-radius: 8px;
}
.cancel-button-athletes:active {
  transform: translateY(1px);
  box-shadow: 0 5px #666;
}
.button-athletes-add {
  position: relative;
  width: 170px;
  height: 46px;
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
  border: none;
  left: 5px;
  cursor: pointer;
}
.button-athletes-add:hover {
  border-radius: 8px;
  transform: translate(0.2);
}
.button-athletes-add:focus {
  outline: 0;
  border-radius: 8px;
}
.button-athletes-add:active {
  transform: translateY(1px);
  box-shadow: 0 5px #666;
}
.close-icon-athlete {
  cursor: pointer;
  margin-left: 530px;
}
