.ContentArea{
    position: absolute;
    width: 1224px;
    height: 1024px;
    left: 216px;
    top: 0px;
    background: #F9F9F9;
}
.but{
position: static;
padding:5px;
text-align:center;
border-radius: 5px;
border:solid 1px;
flex-direction: row;
margin:2px;
height: 30px;
font-size: 14px;
font-style: inherit;
}
.but:hover{
    background-color: black;
    color:white;
}


  