.ContentArea{
    position: absolute;
    width: 1224px;
height: 1024px;
    left: 216px;
    top: 0px;
    background: #808080;
}
button{
position: static;
left: 32px;
top: 190px;
margin:2px;
border:solid 1px;
height: 27px;
left: px;
border-radius: 3px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-transform: capitalize;
flex: none;
order: 0;
align-self: center;
margin: 10px 0px;



}
button:hover{
    background-color: black;
    color:white;
}

  