.modal-events {
  position: absolute;
  width: 518px;
  height: 800px;
  background: #ffffff;
  border: 1px solid #8e9296;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 500px !important;
}

.modal-content-div {
  position: relative;
  width: 500px;
  height: 650px;
}
.modal-events h2 {
  position: absolute;
  width: 176px;
  height: 42px;
  left: 44px;
  top: 45px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  text-transform: capitalize;
  color: #000000;
}
.modal-events hr {
  position: absolute;
  height: 0px;
  left: 44px;
  right: 44px;
  top: 90px;
  border: 1px solid #cad2e2;
}
.form-events {
  position: absolute;
  top: 140px;
  left: 44px;
  right: 44px;
}

.input-time-date {
  position: relative;
  display: inline-block;
  width: 100%;
  bottom: 8px;
}
.input-content-time {
  display: inline-flex;
  width: 190px;
}
.input-content-calendar {
  display: inline-flex;
  width: 190px;
  left: 20px;
}

.button-add-events {
  position: absolute;
  top: 700px;
  left: 220px;
}

.button-close-event {
  position: relative;
  top: 12px;
  margin: 5px;
  width: 90px;
  height: 40px;
  background: #f5f5f7;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: black;
  border: none;
  display: inline-flex;
}

.button-add-event {
  position: relative;
  top: 12px;
  width: 130px;
  height: 40px;
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
  border: none;
  margin: 5px;
  display: inline-flex;
}
.button-add-event:focus {
  border-radius: 8px;
  outline: 0;
}

.button-close-event:focus {
  border-radius: 8px;
  outline: 0;
}

.container-event {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  background-color: #fafafa;
  color: #a8a0a0;
  outline: none;
  border: dashed 1px grey;
  top: 20px;
}
.upload-file-event {
  display: inline-block;
  top: 55px;
  left: 100px;
}
.upload-file-event p {
  display: inline-flex;
  color: black;
  border-bottom: double 2px;
  margin: 8px;
}
.dropzone-event {
  position: relative;
  left: 100px;
  width: 120px;
  top: 14px;
}
.event-cover {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  top: 30px;
}
.invite-members {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  border-bottom: solid 2px #c3c7cc;
  width: 126px;
  display: inline-flex;
  margin: 2px;
}
.invite-members-optional {
  display: inline-flex;
  margin: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #8e9296;
}
.drag-drop-even {
  left: 160px;
  width: 30px;
}
