.athletes-page {
  position: absolute;
  height: 100%;
  width: -webkit-fill-available;
  margin-left: 216px;
  background: #f9f9f9;
  margin-right: auto;
}
.bottom-content-athletes {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}
.search-bar-athletes {
  left: 15px;
  width: 300px;
  height: 40px;
}
.bottom-content-athletes h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-left: 15px;
}
.persons-atheltes {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.grid-athletes {
  width: 950px;
  margin-top: 20px;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pagination-athletes {
  width: 920px;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-right: auto;
}

.but-new-athletes {
  background-color: #1a1a1a;
  text-align: center;
  color: #44dabd;
  padding: 5px;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  margin-left: 480px;
  cursor: pointer;
}
.but-new-athletes:hover {
  border-radius: 8px;
  transform: translate(0.2);
}
.but-new-athletes:focus {
  outline: 0;
  border-radius: 8px;
}
.but-new-athletes:active {
  transform: translateY(1px);
  box-shadow: 0 5px #666;
}
