.button {
  background-color: #1a1a1a;
  text-align: center;
  color: #44dabd;
  padding: 5px;
  margin: 16px;
  border-radius: 8px;
  width: 177px;
  height: 46px;
}

.rendered {
  display: flex;
}

.search-bar {
  width: 371px;
  height: 46px;

  /* white */

  background: #ffffff;
  /* gray 03 */
  margin: 16px;

  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  width: 216px;
  height: 100vh;
  background-color: #1a1a1a;
}

.sidebar-icon {
  top: 60px;
  size: 96px;
  border-radius: 50%;
}

.sidebar-user-name {
  color: #ffffff;
  text-align: center;
  margin-top: 70px;
}

.sidebar-user-role {
  color: #ffffff;
  text-align: center;
  margin-top: -5px;
}

.sidebar-buttons {
  background-color: #1a1a1a;
  text-align: center;

  color: #ffffff;
  padding: 5px;
  margin: 16px;
  border: none;
  width: 184px;
  height: 46px;
  display: block;
}

.sidebar-buttons:hover {
  border: solid 2px;
  border-radius: 8px;
  border-color: white;
}

.sidebar-buttons:focus {
  background-color: white;
  color: black;
  border-radius: 10px;
  outline: 0;
}

.button-icon {
  vertical-align: middle;
  float: left;
  margin-left: 40px;

  display: block;
}

.button-zone {
  margin-top: 120px;
}
