 .button{
    background-color: #1A1A1A;
    text-align: center;
    color: #44DABD;
    padding: 5px ;
    margin: 10px;
    border-radius: 8px;
    width: 177px;
    height: 46px;
}



.search-bar{

width: 371px;
height: 46px;

/* white */

background: #FFFFFF;
/* gray 03 */
margin: 10px;

box-sizing: border-box;

}