.card-events {
  position: absolute;
  width: 560px;
  height: 299px;
  border-radius: 12px;
}

.events-image {
  position: absolute;
  width: 232px;
  height: 299px;
}
.events-text {
  position: absolute;
  width: 260px;
  height: 299px;
  background: #ffffff;
  left: 250px;
}
.events-text h3 {
  margin-left: 10px;
  margin-top: 20px !important;
  margin-bottom: 5px;
}
.events-text p {
  margin-left: 10px;
  word-wrap: break-word;
  margin-top: 0px;
}
.events-text h4 {
  margin-left: 14px;
  color: #8e9296;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 20px !important;
}

.events {
  margin: 15px;
}

.events-card-details {
  display: flex;
  left: 14px;
  margin-top: 20px;
}
.events-calendar {
  display: flex;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 0px;
}
.events-calendar p {
  display: inline-flex;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.events-time {
  display: flex;
}
.events-time p {
  display: flex;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.events-location {
  display: flex;
  margin-top: 5px !important;
  margin-left: 10px;
}

.events-location p {
  display: flex;
  margin-left: 0px !important;
  margin-top: 0px !important;
}
